/* Existing Styles */
.navbar {
  background-color: #001F3F;
  color: #F8F8FF;
}

.navbar .navbar-brand {
  font-size: 1.3em;
  color: #F8F8FF;
}

.navbar .navbar-nav .nav-link {
  color: #F8F8FF;
  font-size: 1.1em;
  transition: font-size 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover {
  color: #808080;
}

@media only screen and (min-width: 992px) {
  .navbar {
    flex-direction: column;
  }

  .navbar .nav-item {
    padding: 0.5em 1em;
  }
}

.navbar .navbar-nav {
  margin-top: 0.5em;
  border-top: 2px solid #F8F8FF;
}

/* New / Updated Styles for Custom Toggler */
/* The custom-toggler label CSS - Adjusts the appearance of the custom toggler */
label.custom-toggler {
  display: flex;
  flex-direction: column;
  width: 70px;
  cursor: pointer;
}

/* Style for the spans inside the custom-toggler - Creates bars in toggler */
label.custom-toggler span {
  background: #fff;
  border-radius: 10px;
  height: 4px;
  margin: 4px 0;
  transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

/* Specific width for each bar inside toggler */
label.custom-toggler span:nth-of-type(1) { width: 50%; }
label.custom-toggler span:nth-of-type(2) { width: 100%; }
label.custom-toggler span:nth-of-type(3) { width: 75%; }

/* Hiding the checkbox input */
label.custom-toggler input[type="checkbox"] {
  display: none;
}

/* Transforming the bars into a cross when checkbox is checked */
label.custom-toggler input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(13px, 8px);
  width: 75%;
}

label.custom-toggler input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg) translate(0px, 0px);
  width: 100%;
}

label.custom-toggler input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 68%;
  transform: translate(13px, -19px) rotatez(45deg);
}
