.wish-border {
  border: 2px solid rgb(154, 228, 255);
  border-radius: 9px;
  position: relative;
  z-index: 1000;
  padding: 20px;
}

.wish-table {
  position: relative;
  z-index: 999;
}

.new-wish-btn {
  background-color: rgb(111, 159, 255);
}
