<h1>Editing wish item</h1>

<%= render "form", wish_item: @wish_item %>

<br>

<div>
  <%= link_to "Show this wish item", @wish_item %> |
  <%= link_to "Back to wish items", wish_items_path %>
</div>
